.DS_Store

.crush/

.config/fish/includes/private-vars.fish
.config/fish/functions/get_token.fish
.config/fish/fish_variables
.config/fish/fishd.tmp.*

.config/cointop/config.toml

.config/wezterm/assets/*.webp
!.config/wezterm/assets/5.webp

.config/alacritty/themes/*.toml
!.config/alacritty/themes/catppuccin*.toml
!.config/alacritty/themes/poimandres*.toml

.config/tmux/plugins
.config/btop

.config/lazygit/state.yml
.config/glab-cli
.config/github-copilot
.config/uv
.config/flipperdevices.com
.config/vivaldi-css
.config/zed/*
!.config/zed/settings.json
!.config/zed/keymap.json
!.config/zed/tasks.json
.config/configstore
.config/raycast
.config/glow
.config/amp
.config/solana

.claude/settings.local.json
.config/.jira

