.DS_Store

.config/fish/includes/private-vars.fish

.config/wezterm/assets/*.webp
!.config/wezterm/assets/5.webp

.config/alacritty/themes/*.toml
!.config/alacritty/themes/catppuccin*.toml
!.config/alacritty/themes/poimandres*.toml

.config/tmux/plugins
.config/btop/btop.log
