layout {
  default_tab_template {
    pane size=2 borderless=true {
      plugin location="file:/Users/kento/dotfiles/.config/zellij/plugins/zjstatusv0.15.0.wasm" {
         format_left   "{mode} #[fg=blue,bold]{session} {datetime} {tabs}"
         // format_center "{tabs}"
         // format_right  "{command_git_branch} {datetime}"
         format_space  ""

         border_enabled  "true"
         border_char     "─"
         border_format   "#[fg=#6C7086]{char}"
         border_position "bottom"

         datetime        "#[fg=magenta,bold] {format} "
         // datetime_format "%A, %d %b %Y %H:%M"
         datetime_format "%H:%M"
         datetime_timezone "Europe/Paris"

         hide_frame_for_single_pane "true"

         mode_normal  "#[fg=blue] 🔹 "
         mode_tmux    "#[fg=yellow] 🔸 "

         // command_git_branch_command     "bash -c 'GIT_DIR=$(pwd)/.git git rev-parse --abbrev-ref HEAD'"
         command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
         command_git_branch_format      "#[fg=white] {stdout} {stderr}"
         command_git_branch_interval    "10"
         command_git_branch_rendermode  "static"
        
        // formatting for inactive tabs
        tab_normal              "#[fg=#6C7086] {index}: {name} "
        tab_normal_fullscreen   "#[fg=#6C7086] {index}: {name} {fullscreen_indicator} "
        tab_normal_sync         "#[fg=#6C7086] {index}: {name} {sync_indicator} "

        // formatting for the current active tab
        tab_active              "#[fg=blue,bold] {index}: {name} {floating_indicator} "
        tab_active_fullscreen   "#[fg=green,bold] {index}: {name} {fullscreen_indicator} "
        tab_active_sync         "#[fg=#9399B2,bold] {index} :{name} {sync_indicator} "

        // indicators
        tab_sync_indicator       "*sync*"
        tab_fullscreen_indicator "*full*"
        tab_floating_indicator   "*term*"
      }
    }

    children
   // pane size=2 borderless=true {
   //   plugin location="zellij:status-bar"
   // }
  }

 tab focus=true name="cc-ext" {
   pane borderless=true cwd="/Users/kento/Documents/gitlab/conversation-center-ext" 
 }
 tab name="kento" {
   pane borderless=true cwd="/Users/kento/dotfiles" 
 }
 tab name="vault" {
   pane borderless=true cwd="/Users/kento/Documents/github/kentoje/obsidian-vault" 
 }
}
