<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HintWindowDelayAfterSpaceKeyDown</key>
	<real>1</real>
	<key>KeyAndActionPairs</key>
	<array>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-06-17T15:28:51Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Arc.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2022-08-11T12:27:24Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>spacelauncher://toggle-preferences-window</string>
			</dict>
			<key>Comment</key>
			<string>Toggle this window</string>
			<key>KeyCode</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>GroupKeyAndActionPairs</key>
				<array>
					<dict>
						<key>Action</key>
						<dict>
							<key>LastUsed</key>
							<date>2022-08-11T12:23:32Z</date>
							<key>Type</key>
							<string>URLAction</string>
							<key>URL</key>
							<string>file://{{HomeDirectory}}/Downloads</string>
						</dict>
						<key>Comment</key>
						<string>Open Downloads</string>
						<key>Disabled</key>
						<true/>
						<key>KeyCode</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>Action</key>
						<dict>
							<key>LastUsed</key>
							<date>2022-08-11T12:23:37Z</date>
							<key>Type</key>
							<string>URLAction</string>
							<key>URL</key>
							<string>file://{{HomeDirectory}}/Library</string>
						</dict>
						<key>Comment</key>
						<string>Open Library</string>
						<key>Disabled</key>
						<true/>
						<key>KeyCode</key>
						<integer>15</integer>
					</dict>
					<dict>
						<key>Action</key>
						<dict>
							<key>Type</key>
							<string>URLAction</string>
							<key>URL</key>
							<string>file://{{HomeDirectory}}/Library/Mobile%20Documents</string>
						</dict>
						<key>Comment</key>
						<string>Open iCloud Drive</string>
						<key>Disabled</key>
						<true/>
						<key>KeyCode</key>
						<integer>8</integer>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Folders</string>
				<key>Type</key>
				<string>GroupAction</string>
			</dict>
			<key>KeyCode</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-06-16T15:50:15Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Visual%20Studio%20Code.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-06-17T15:23:32Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/iTerm.app/</string>
			</dict>
			<key>Disabled</key>
			<false/>
			<key>KeyCode</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-06-17T15:28:39Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Obsidian.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-06-16T16:11:08Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Slack.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-06-14T13:51:15Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Users/kento/Applications/Spotify.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>Action</key>
			<dict>
				<key>LastUsed</key>
				<date>2023-06-16T09:02:26Z</date>
				<key>Type</key>
				<string>URLAction</string>
				<key>URL</key>
				<string>file:///Applications/Spark.app/</string>
			</dict>
			<key>KeyCode</key>
			<integer>11</integer>
		</dict>
	</array>
	<key>RecognitionDelayAfterSpaceKeyDown</key>
	<real>0.10000000000000001</real>
	<key>SpaceRecognitionDelayAfterLastKey</key>
	<real>0.20000000000000004</real>
</dict>
</plist>
